*{
    padding: 0;
    margin: 0;
}
body{
/*     background-image: url(bg.jpeg); */
/*     background-size: cover; */
  background-color: black;
  overflow: hidden;
}

.task-bar{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f3f3f3;
  z-index: 100;
  
}
.task-right{
  justify-self: flex-end;
  position: absolute;
  right: 0;
  margin: 6px 0;
  height: 85%;
  
}
.start-menu img{
  border-radius: 8px;
}
.start-menu{
  position: absolute;
  bottom: -650px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in;
}
.icon1{
  padding: 8px;
}
.icon2 img{
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 45px;
  
}